* {
    margin: 0;
    padding: 0;
}

.rainbow-tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100vh;
}

.tile {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
}

p {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 1px black;
}

.red {
    background-color: rgb(161, 33, 33);
    }

.orange {
    background-color: rgb(231, 157, 18);
}

.yellow {
    background-color: rgb(201, 201, 38);
}

.green {
    background-color: rgb(49, 109, 49);
}

.blue {
    background-color: rgb(62, 62, 182);
}

.purple {
    background-color: rgb(128, 58, 128);
}

@media only screen and (min-width: 600px) {
    .rainbow-tiles {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        height: 100vh;
    }

    .tile {
        width: 33.33%;
        height: 50%;
}
}