* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    word-break: break-all;
    outline: none;
  }

  #search-container {
    text-align: center;
  }

  input {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 50px;
  }

  #search-btn {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 50px;
    cursor: pointer;
  }

  label {
    font-style: italic;
    font-size: .8rem;
  }

  .post-container {
    width: 95%;
    height: auto;
    padding: 5px;
    margin: 15px auto;
    border-radius: 5px;
  }

  h3 { text-align: center; }

  .post {
    width: 25%;
    height: auto;
    display: block;
    padding: 10px;
    background-color: #cccccc;
    color: #373737;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #1717175e;
  }

  .post > * {
    display: block;
    margin: 5px;
    font-size: 16px;
  }

  .author {
    font-style: italic;
    font-size: 12px;
  }
  
  .title { font-weight: bold; }
  
  .content span { color: lightblue; }

  .image {
    height: auto;
    width: 300px;
    margin: auto;
  }